
.depicter-revert.depicter-4 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-4-element-22{
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#ffffff;
	border-radius:50% 50% 50% 50%;
}
.depicter-4-element-22 .depicter-arrow-icon{
	fill:#ffffff;
}
.depicter-revert .depicter-4-element-23{
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	border-radius:50% 50% 50% 50%;
}
.depicter-4-element-23 .depicter-arrow-icon{
	fill:#FFFFFF;
}
.depicter-revert .depicter-4-element-138{
	opacity:0.99;
}
.depicter-revert .depicter-4-element-128{
	font-size:30px;
	text-align:justify;
	color:#FFFFFF;
	font-family:"Times New Roman";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-127{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	border-radius:10px;
}
.depicter-revert .depicter-4-element-127:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-4-element-107{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-104{
	font-size:40px;
	color:#FFFFFF;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-98{
	opacity:1;
	border-radius:500px;
}
.depicter-revert .depicter-4-section-72 .depicter-bg-video-container{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-114{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	border-radius:10px;
}
.depicter-revert .depicter-4-element-114:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-4-element-112{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	border-radius:10px;
}
.depicter-revert .depicter-4-element-112:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-4-element-21{
	font-size:40px;
	color:#FFFFFF;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-14{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-7{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:100;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	border-radius:10px;
}
.depicter-revert .depicter-4-element-7:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-4-element-6{
	font-size:30px;
	color:#FFFFFF;
	font-family:"Times New Roman";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-4{
	font-size:60px;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:300;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-section-1 .depicter-bg-video-container{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-124{
	border-radius:500px;
}
.depicter-revert .depicter-4-element-120{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	border-radius:10px;
}
.depicter-revert .depicter-4-element-120:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-4-element-119{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	border-radius:10px;
}
.depicter-revert .depicter-4-element-119:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-4-element-118{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	border-radius:10px;
}
.depicter-revert .depicter-4-element-118:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-4-element-40{
	font-size:40px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-34{
	background-color:#ffffff;
}
.depicter-revert .depicter-4-section-25 .depicter-bg-video-container{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-section-25 .depicter-bg-video-container::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.2);
}
.depicter-revert .depicter-4-element-125{
	border-radius:500px;
}
.depicter-revert .depicter-4-element-123{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	border-radius:10px;
}
.depicter-revert .depicter-4-element-123:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-4-element-122{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	border-radius:10px;
}
.depicter-revert .depicter-4-element-122:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-4-element-121{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
	border-radius:10px;
}
.depicter-revert .depicter-4-element-121:not(.depicter-hover-off):hover {
	color:#000000;
	background-color:#ffffff;
}
.depicter-revert .depicter-4-element-56{
	font-size:40px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-50{
	background-color:#ffffff;
}
.depicter-revert .depicter-4-section-41 .depicter-bg-video-container{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-section-41 .depicter-bg-video-container::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.2);
}

/***** Tablet *****/
@media screen and (max-width: 1024px){

.depicter-revert .depicter-4-element-128{
	font-size:30px;
	text-align:justify;
	color:#FFFFFF;
	font-family:"Times New Roman";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-section-72 .depicter-bg-video-container{
	background-color:#FFFFFF;
}

}
/***** Mobile *****/
@media screen and (max-width: 767px){

.depicter-revert .depicter-4-element-22{
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-4-element-22 .depicter-arrow-icon{
	fill:#FFFFFF;
}
.depicter-revert .depicter-4-element-23{
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-4-element-23 .depicter-arrow-icon{
	fill:#FFFFFF;
}
.depicter-revert .depicter-4-element-138{
	opacity:1;
}
.depicter-revert .depicter-4-element-128{
	font-size:18px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Times New Roman";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-127{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-107{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-104{
	font-size:30px;
	color:#FFFFFF;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-98{
	opacity:0.99;
	border-radius:800px 800px 800px 800px;
}
.depicter-revert .depicter-4-section-72 .depicter-bg-video-container{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-114{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-112{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-21{
	font-size:30px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
}
.depicter-revert .depicter-4-element-14{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-7{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-6{
	font-size:16px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Times New Roman";
	font-weight:400;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-element-4{
	font-size:25px;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:100;
	line-height:120%;
	background-color:transparent;
}
.depicter-revert .depicter-4-section-1 .depicter-bg-video-container{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-124{
	border-radius:50000px;
}
.depicter-revert .depicter-4-element-120{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-119{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-118{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-40{
	font-size:30px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
}
.depicter-revert .depicter-4-element-34{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-section-25 .depicter-bg-video-container{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-section-25 .depicter-bg-video-container::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.2);
}
.depicter-revert .depicter-4-element-125{
	border-radius:50000px;
}
.depicter-revert .depicter-4-element-123{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-122{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-121{
	font-size:25px;
	text-align:center;
	color:#FFFFFF;
	font-family:"Raleway";
	font-weight:700;
	text-transform:capitalize;
	background-color:transparent;
	border-width:1px;
	border-style:solid;
	border-color:#FFFFFF;
}
.depicter-revert .depicter-4-element-56{
	font-size:30px;
	color:#ffffff;
	font-family:"Playfair Display";
	font-weight:500;
	line-height:60%;
}
.depicter-revert .depicter-4-element-50{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-section-41 .depicter-bg-video-container{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-section-41 .depicter-bg-video-container::after{
	content:"";
	display:block;
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	left:0;
	z-index:1;
	background-color:rgba(0, 0, 0, 0.2);
}

}
